/* ==========================================================================
   Animations - begin
   ========================================================================== */
@keyframes bounce {

   0%,
   75%,
   100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
   }

   25% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
   }
}

/* ==========================================================================
   Animations - end
   ========================================================================== */