// text-center
.u-center-text {text-align: center;}

// only mobile
.m-only {
    display: none;

    @include breakpoint(md){
        display: block;
    }
}
.d-only {
    @include breakpoint(md){
        display: none;
    }
}

// margin-bottom
.u-margin-bottom-small{margin-bottom: 1.5rem;}
.u-margin-bottom-medium{margin-bottom: 4rem;}
.u-margin-bottom-big{margin-bottom: 8rem;}